@page
@model AboutModel
@{
    ViewData["Title"] = "Team Statistics";
}

<h2>Team Statistics</h2>

<table>
    <tr>
        <th>
            Location
        </th>
        <th>
            Teams
        </th>
    </tr>

    @foreach (var item in Model.Team)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @item.TeamCount
            </td>
        </tr>
    }
</table>
